{{template "base" .}}
{{define "title"}}About{{end}}
{{define "main"}}
<header>
    <h1>Welcome to Our About Page</h1>
  </header>
  <section>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum odio vel tortor iaculis hendrerit.</p>
  </section>
 {{end}}